@import './variables';
@import './mixins';

.App {
  min-height: 100vh;
  width: 100%;
  text-align: center;
  background: $main-color;
  color: snow;
}

.create-button {
  @include create-button;
}

.link-style {
  text-decoration: none;
  color: white;
}

.link-style div {
  margin: 10px auto;
}

input {
  @include main-input;
}

button {
  @include main-button;
}

h1, p {
  margin: 0;
}