@import '../../mixins';

.task-display {
    height: 65vh;
    width: 94%;
    position: fixed;
    bottom: 10px;
    left: 50%;
    margin-left: -47%;
    background: snow;
    border-radius: 15px;
    animation: 250ms linear expand;
}

.task-grid {
    display: grid;
    grid-template-columns: 50px 2fr 1fr;
    grid-template-areas: 'checkbox taskname progress';
    box-sizing: border-box;
    margin: 10px 0px;
    padding: 0px 15px;
}

.task-grid p {
    text-align: left;
    grid-area: 'taskname';
    line-height: 25px;
    color: #B3B4BE
}

.task-checkbox {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    grid-area: 'checkbox';
}

.task-checkbox input[type='checkbox'] {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    left: -9999px;
}
  
.task-checkbox input[type='checkbox']:not(:checked) + label::after {
    opacity: 0;
}

.task-checkbox input[type='checkbox']:checked + label::after {
    opacity: 1;
}

.task-checkbox input[type='checkbox']:not(:checked) + label:hover::before {
    background: #B3B4BE;
}

.task-checkbox input[type='checkbox']:checked + label::before {
    background: #3ADAD8;
}

.task-checkbox label::before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #B3B4BE;
    position: absolute;
    top: 0;
    left: 0;
}

.task-checkbox label::after {
    content: '';
    display: inline-block;
    height: 6px;
    width: 10px;
    border-left: 2px solid snow;
    border-bottom: 2px solid snow;
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -5px;
}

.progress-display {
    height: 25px;
    width: 105px;
    border-radius: 15px;
    line-height: 25px;
    font-weight: bold;
    grid-area: 'progress'
}

.not-started {
    background: #ECEEF0;
    color: #BCC3CB;
}

.in-progress {
    background: #E3EFFD;
    color: #8DBBF6;
}

.delayed {
    background: #FDEEE8;
    color: #F6B7A2;
}

.blocked {
    background: #FFCCCC;
    color: #FF7C7C;
}

.modal-backdrop {
    @include modal-backdrop
}

.progress-modal {
    height: 260px;
    width: 94%;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -47%;
    background: snow;
    color: black;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.progress-modal li {
    width: 100%;
    line-height: 40px;
    border-bottom: 1px solid black;
}

.progress-modal li:hover {
    background: lightgray;
}

.task-create-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@keyframes expand {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}