.task-display {
    height: 65vh;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background: snow;
    color: black;
    border-radius: 15px 15px 0px 0px;
    animation: 250ms linear slide;
}

.task-grid {
    display: grid;
    grid-template-columns: 50px 2fr 1fr;
    grid-template-areas: 'checkbox taskname progress';
    box-sizing: border-box;
    margin: 10px 0px;
    padding: 0px 15px;
}

.task-grid p {
    text-align: left;
    grid-area: 'taskname';
    line-height: 25px;
}

.task-checkbox {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    grid-area: 'checkbox';
}

.task-checkbox input[type='checkbox'] {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    left: -9999px;
}
  
.task-checkbox input[type='checkbox']:not(:checked) + label::after {
    opacity: 0;
}

.task-checkbox input[type='checkbox']:checked + label::after {
    opacity: 1;
}

.task-checkbox input[type='checkbox']:not(:checked) + label:hover::before {
    background: lightgray;
}

.task-checkbox input[type='checkbox']:checked + label::before {
    background: blue;
}

.task-checkbox label::before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid gray;
    position: absolute;
    top: 0;
    left: 0;
}

.task-checkbox label::after {
    content: '';
    display: inline-block;
    height: 6px;
    width: 10px;
    border-left: 2px solid snow;
    border-bottom: 2px solid snow;
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -5px;
}

.progress-display {
    height: 25px;
    width: 150px;
    border-radius: 15px;
    line-height: 25px;
    // text-align: center;
    background: blue;
    color: white;
    grid-area: 'progress'
}



@keyframes slide {
    from {
        bottom: -65vh;
    }
    to {
        bottom: 0px;
    }
}